.ql-editor {
    font-family: 'Inter', sans-serif;
    color: white !important;
    padding: 20px 0 !important;
    @apply
        text-[16px]
        sm:text-[14px]
}

.ql-toolbar {
    display: none !important;
}