@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.notes {
    @apply
        w-full 
        sm:min-w-[300px]
        sm:grow 
        px-[40px]
        py-[50px] 
        sm:px-[60px] 
        sm:rounded-br-[12px] 
        sm:rounded-tr-[12px]
        flex
        flex-col
}

.home {
    transition: transform 0.2s;
    @apply
        h-full
        w-4/5
        sm:w-[280px]
        py-[50px] 
        px-[30px] 
        sm:rounded-bl-[12px]
        sm:rounded-tl-[12px]
        absolute
        sm:relative
        z-[10]
        top-0
        left-0
        translate-x-[-100%]
        sm:translate-x-0
}

.home-show {
    @apply
        translate-x-0
}

/* Note components */
.note {
    @apply
        h-[240px]
        rounded-[12px]
}

.note-hover {
    box-shadow: inset 0 0 60px rgb(0 0 0 / 40%);
    @apply
        h-full
        w-full
        absolute
        top-0
        left-0
        opacity-100
        sm:opacity-0
        rounded-[12px]
        flex
        justify-end
        cursor-pointer
}

.note-drop-show {
    box-shadow: inset 0 0 60px rgb(0 0 0 / 60%);
    @apply
        opacity-100
}

@media screen and (min-width: 640px) {
    .note-hover {
        box-shadow: inset 0 0 0 rgb(0 0 0 / 60%);
    }
}

.note-hover:hover {
    box-shadow: inset 0 0 60px rgb(0 0 0 / 60%);
    @apply
        opacity-100
}

.note-list-grid {
    @apply
        grid
        grid-cols-2
        lg:grid-cols-3
        gap-x-[10px]
        gap-y-[10px]
        sm:gap-x-[20px]
        sm:gap-y-[20px]
}

.wallpaper-grid {
    @apply
        grid
        grid-cols-2
        lg:grid-cols-3
        gap-x-[6px]
        gap-y-[6px]
        sm:gap-x-[10px]
        sm:gap-y-[12px]
        py-[6px]
}

.wallpaper-grid img {
    height: 80px;
    width: 140px;
    min-height: 80px;
    min-width: 140px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
}

.wallpaper-grid img:hover {
    box-shadow: 0 0 15px rgb(0 0 0 / 60%);
}

.dropdown {
    box-shadow: 0 0 15px rgb(0 0 0 / 60%);
    @apply
        bg-gray-700
        absolute
        right-[20px]
        top-[40px]
        z-10
        rounded-[6px]
        py-[4px]
        px-[12px]
        flex
        flex-col
}

.dropdown .main-hover,
.dropdown .delete-hover {
    @apply
        flex
        items-center
        py-[6px]
}

.dropdown h1 {
    padding: 4px 0;
}

.dropdown .main-hover img,
.dropdown .delete-hover img {
    transition: 60ms ease-in-out;
    @apply
        h-[24px]
        pr-[6px]
}

.main-hover:hover .pinned-hover {
    @apply
        opacity-100
}

.main-hover:hover .unpinned-hover {
    @apply
        opacity-0
}

.main-hover:hover .restore-hover {
    @apply
        opacity-100
}

.delete-hover:hover .deleted-hover {
    @apply
        opacity-100
}

/* Button components */
.menu-btn {
    height: 24px;
    width: 24px;
    margin-bottom: 20px;
}

.add-note-btn {
    background-color: var(--background);
    box-shadow: 0 0 15px rgb(0 0 0 / 60%);
    @apply
        absolute
        rounded-[100%]
        sm:rounded-[8px]
        flex
        justify-center
        items-center
        bottom-0
        right-0
        my-[32px]
        mx-[32px]
        sm:my-[50px]
        sm:mx-[50px]
        py-[14px]
        sm:py-[2px]
        px-[14px]
        cursor-pointer
        text-[14px]
}

.add-note-btn:hover {
    background-color: var(--dark-background);
}

.add-note-btn img {
    @apply
        h-[30px]
        w-[30px]
        sm:h-[12px]
        sm:w-[12px]
}

/* Form components */
#note-title {
    @apply
        text-[28px]
        sm:text-[24px]
        outline-none
        bg-transparent  
        flex-1
        w-0
}

.note-quill .quill-editor {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
    font-style: normal;
    @apply
        text-gray-400
        text-[18px]
        sm:text-[16px]
        left-0
}

.ql-snow {
    border: none !important;
}

.note-quill .ql-toolbar {
    display: none !important;
}

.ql-toolbar {
    padding: 0 !important;
    margin-top: 20px !important;
    position: absolute !important;
    @apply
        bottom-[120px]
        sm:bottom-[80px]
}

.note-quill .ql-editor {
    font-family: 'Inter', sans-serif;
    height: 220px;
    color: white !important;
    padding: 14px 0 !important;
    overflow: hidden !important;
    @apply
        text-[16px]
        sm:text-[14px]
}


.edit-note-quill .ql-editor {
    font-family: 'Inter', sans-serif;
    color: white !important;
    padding: 20px 0 !important;
    @apply
        text-[18px]
        sm:text-[16px]
}

.ql-editor ul, ol {
    padding-left: 20px !important;
}

.ql-editor li {
    display: flex !important;
    align-items: center !important;
}

.ql-editor li::before {
    padding-right: 6px !important;
}

svg {
    @apply
        scale-[1.35]
        sm:scale-[1.2]
}

.ql-stroke {
    stroke: rgb(246 244 243) !important;
}

.ql-fill {
    fill: rgb(246 244 243) !important;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
    stroke: rgb(67, 140, 218) !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
    fill: rgb(67, 140, 218) !important;
}

button:active .ql-stroke,
.ql-active .ql-stroke {
    stroke: rgb(67, 140, 218) !important;
}

button:active .ql-fill,
.ql-active .ql-fill {
    fill: rgb(67, 140, 218) !important;
}

.ql-editor ul[data-checked="true"] li {
    color: gray;
}

.ql-editor ul[data-checked="false"] li::before {
    font-size: 1.35rem;
}

.ql-editor ul[data-checked="true"] li::before {
    font-size: 1.35rem;
}