.notes {
    @apply
        h-full
        w-full 
        sm:min-w-[300px]
        sm:grow 
        px-[40px]
        py-[50px] 
        sm:px-[60px] 
        sm:rounded-br-[12px] 
        sm:rounded-tr-[12px]
}

.home {
    transition: transform 0.2s;
    @apply
        h-full
        w-4/5
        sm:w-[280px]
        py-[50px] 
        px-[30px] 
        sm:rounded-bl-[12px]
        sm:rounded-tl-[12px]
        absolute
        sm:relative
        z-[10]
        top-0
        left-0
        translate-x-[-100%]
        sm:translate-x-0
}

.home-show {
    @apply
        translate-x-0
}

/* Button components */
.menu-btn {
    height: 24px;
    width: 24px;
    margin-bottom: 20px;
}

.add-note-btn {
    background-color: var(--background);
    box-shadow: 0 10px 15px rgb(0 0 0 / 60%);
    @apply
        absolute
        rounded-[100%]
        sm:rounded-[8px]
        flex
        justify-center
        items-center
        bottom-0
        right-0
        my-[50px]
        mx-[50px]
        py-[14px]
        sm:py-[2px]
        px-[14px]
        cursor-pointer
        text-[14px]
}

.add-note-btn:hover {
    background-color: var(--dark-background);
}

.add-note-btn img {
    @apply
        h-[30px]
        w-[30px]
        sm:h-[12px]
        sm:w-[12px]
}