@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-background: rgba(30, 30, 30, 0.7);
    --background: rgba(50, 50, 50, 0.7);
    --light-background: rgba(155, 155, 155, 0.7);
    --clerk-link: rgba(82, 151, 236, 0.7);
    
    background-repeat: no-repeat;
    background-image: url('/background.jpg');
    @apply
        text-gray-100
}

/* Clerk components */
.cl-internal-b3fm6y,
.cl-internal-uyu30o {
    display: none;
}

.cl-card {
    background-color: var(--dark-background);
    backdrop-filter: blur(80px);
    box-shadow: 0 10px 15px rgb(0 0 0 / 60%);
}

.cl-signIn-start,
.cl-signUp-start {
    position: absolute;
    z-index: 50;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}

.cl-card a {
    color: var(--clerk-link);
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 6px;
    @apply
        hidden
        sm:block
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(67, 67, 67);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

/* Main components */
.wrapper {
    box-shadow: 0 10px 15px rgb(0 0 0 / 60%);
    @apply
        h-full
        w-full
        sm:h-3/4
        sm:w-[900px]
        sm:rounded-lg
        flex
        relative
}

.blur-effect {
    backdrop-filter: blur(80px);
}

/* Blurred background colors */
.blur-dark-bg {
    background-color: var(--dark-background);
}

.blur-bg {
    background-color: var(--background);
}

.blur-light-bg {
    background-color: var(--light-background); 
}